name: 'discovery_service'

services:
  
  domic.discovery.api:
    networks:
      - domic
    image: discovery_service_api_image:1.0.0
    container_name: "discovery_service_api"
    build:
      context: .
      dockerfile: Dockerfile
    restart: on-failure
    ports:
      - "1100-1120:443"
    volumes:
      - log:/app/CoreLogs
      - ~/services/Domic-DiscoveryService/.https/:/https/
#     - C:\https\:/https/
    environment:
      - Elastic-Host=http://domic.elastic.search:9200
      - Elastic-Index=discovery
      - Elastic-Username=domic
      - Elastic-Password=Domic123!@#
      - E-RabbitMQ-Host=domic.rabbit.mq
      - E-RabbitMQ-Port=5672
      - E-RabbitMQ-Username=domic
      - E-RabbitMQ-Password=Domic123!@#
      - I-RabbitMQ-Host=
      - I-RabbitMQ-Port=
      - I-RabbitMQ-Username=
      - I-RabbitMQ-Password=
      - E-RedisConnectionString=domic.redis:6379
      - I-RedisConnectionString=
      - MongoConnectionString=mongodb://sa:434624@domic.mongo.db:27017
#     - MongoConnectionString=mongodb://sa:434624@domic.discovery.mongo:27017
      - C-SqlServerConnectionString=
      - Q-SqlServerConnectionString=
      - Host=domic.discovery.api
      - Port=443
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=https://+:443;http://+:80
      - ASPNETCORE_Kestrel__Certificates__Default__Password=Domic123!@#
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/Domic.WebAPI.pfx
#   depends_on:
#     - domic.discovery.mongo

# domic.discovery.mongo:
#   networks:
#     - domic
#   image: mongo:latest
#   container_name: 'discovery_mongo'
#   restart: on-failure
#   ports:
#     - 27020:27017
#   environment:
#     - MONGO_INITDB_ROOT_USERNAME=sa
#     - MONGO_INITDB_ROOT_PASSWORD=434624

volumes:
  log:

networks:
  domic:
    external: true